aiohttp
blinker
click
colorama
finnhub-python
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dotenv
setuptools
SQLAlchemy
typing_extensions
Werkzeug
wheel
yfinance