blinker
click
colorama
Flask
Flask-Mail
Flask-SQLAlchemy
Flask-Login
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dotenv
setuptools
SQLAlchemy
typing_extensions
Werkzeug
wheel
yfinance
finnhub-python