@use "variables" as V;

.company-card {
  padding: 5px;
  background-color: V.$secondary-bg;
  border: 1px solid V.$primary-fg;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
          "logo name stock follow"
          "logo sectors sectors .";
  grid-template-columns: 10% 50% 20% 20%;
  grid-gap: 5px;

  > * {
    display: flex;
  }

  > .company-logo {
    grid-area: logo;
    width: 100%;
    max-width: 50px;
    margin: auto;
  }

  > .company-name {
    grid-area: name;
    font-size: 1.5em;
    border-bottom: 1px solid V.$primary-fg;

    justify-content: center;
    align-items: center;
  }

  > .company-stock {
    grid-area: stock;

    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  > .company-follow {
    grid-area: follow;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 0;
  }

  > .company-sectors {
    grid-area: sectors;

    align-items: center;
    justify-content: left;
    padding: 10px;

    > span:not(:last-child) {
      padding-right: 5px;

      &:not(:first-child)::after {
        content: ' |';
      }
    }
  }
}
