@use "variables.scss" as V;

html {
    width: 99vw;
    height: 99vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: V.$font-family;
    background-color: V.$primary-bg;
    color: V.$primary-fg;
}

.error-card {
    background-color: V.$error-bg;
    color: V.$error-fg;
    padding: 7px;
    border: 2px solid V.$error-fg;
}

input,
button,
textarea {
    background-color: V.$primary-fg;
    color: V.$primary-bg;
    outline: none;
    border: 1px solid V.$primary-fg;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    font-family: V.$font-family;
}

input::placeholder {
    font-family: V.$font-family;
}

button {
    background-color: V.$secondary-bg;
    color: V.$secondary-fg;
    padding: 7px;
    border-radius: 10px;
}

button:hover {
    cursor: default;
    background-color: V.$primary-bg;
}

button.btn-danger:hover {
    background-color: V.$error-bg;
    color: V.$error-fg;
}
