@use "variables" as V;

html {
    width: 99vw;
    height: 99vh;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: V.$font-family;
    background-color: V.$primary-bg;
    color: V.$primary-fg;
}

.error-card {
    background-color: V.$error-bg;
    color: V.$error-fg;
    padding: 7px;
    border: 2px solid V.$error-fg;
}

input,
button,
textarea,
.btn {
    background-color: V.$primary-fg;
    color: V.$primary-bg;
    outline: none;
    border: 1px solid V.$primary-fg;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    font-family: V.$font-family;
}

input::placeholder {
    font-family: V.$font-family;
}

button, .btn {
    background-color: V.$secondary-bg;
    color: V.$secondary-fg;
    padding: 7px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: default;
        background-color: V.$primary-bg;
    }

    &.btn-danger:hover {
        background-color: V.$error-bg;
    color: V.$error-fg;
    }
}

// Page header
header {
    height: V.$header-height;
    background-color: V.$secondary-bg;
    //border-bottom: 2px solid V.$secondary-fg;

    // Header top section
    > div {
        height: 60%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // App name
        > div:first-child {
            width: V.$filter-window-width;
            border-right: 1px solid V.$primary-fg;
            color: V.$primary-fg;
            padding-left: 5px;
            font-size: 2em;

            display: flex;
            justify-content: left;
            align-items: center;
        }

        // Username/bell
        > div:last-child {
            display: flex;
            margin-left: auto;


            // Username
            > :first-child {
                display: flex;
                justify-content: center;
                align-items: center;

                color: V.$primary-fg;
                text-decoration: underline;

                padding-right: 5px;
                margin: 5px 0;
                border-right: 1px solid V.$primary-fg;

                &:hover {
                    text-decoration: none;
                    cursor: default;
                }
            }

            // Notifications info
            > :last-child {
                display: flex;

                // Bell icon
                > img {
                    color: V.$primary-fg;
                }

                // Notification count
                > span {
                    color: V.$primary-fg;
                    font-size: 0.9em;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    // Tabs
    > nav {
        height: 40%;
    }
}
