@use "variables" as V;

.tab-group {
  display: flex;
  flex-direction: row;

  .tab {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: V.$tab-fg;
    border: 0;
    background-color: V.$tab-bg;
    flex: 1;
    transition: background-color 0.3s, color 0.3s;

  
    font-size: 14px;

    border-radius: 0 0 0 0;
    padding: 10px 20px;
    margin-right: 0.5px; // Overlapping borders

    // Center the text in this tab
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-selected='true'] {
      color: V.$tab-selected-fg;
      background-color: V.$tab-selected-bg;
    }

    &[data-clickable='true']:hover {
      cursor: pointer;
      color: V.$tab-hover-fg;
      background-color: V.$tab-hover-bg;
    }
  }
}
// @use "variables" as V;

// .tab-group {
//   display: flex;
//   flex-direction: row;
// }

// .tab {
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   font-weight: bold;
//   font-size: 14px;
//   text-transform: uppercase;
//   color: V.$tab-fg;
//   background-color: V.$tab-bg;
//   border: 0;
//   border-radius: 8px 8px 0 0;
//   padding: 10px 20px;
//   margin-right: -1px; // Overlapping borders
//   transition: background-color 0.3s, color 0.3s;

//   &[data-selected='true'] {
//     color: V.$tab-selected-fg;
//     background-color: V.$tab-selected-bg;
//   }

//   &[data-clickable='true']:hover {
//     cursor: pointer;
//     color: V.$tab-hover-fg;
//     background-color: V.$tab-hover-bg;
//   }
// }
