.content-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;

  .search-options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 5% 0;

    > span *:not(:last-child) {
      margin-right: 10px;
    }

    .search-button-container {
      width: 50%;
      margin: 0 auto;

      > button {
        width: 100%;
      }
    }
  }
}
