.content-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;

  > .title-text {
    font-size: 1.4em;
    padding-bottom: 35px;
  }

  > .cards {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
